/*头部*/
header{
    width:100%;
    height: 2rem;
    background-image: url("../img/dzq/headerbg.png");
    background-size: cover;
    padding:0.1rem 0;
    box-sizing: border-box;
    position: absolute;
    left:0;
    top:0;
    z-index: 1000;
}
header ul.play{
    width: 7.05rem;
    height:1.8rem;
    background:#fbfbfb;
    margin:0 auto;
    display: flex;
}
.play li:first-child{
    width: 2rem;
    height:100%;
    background-image: url("../img/dzq/music.png");
    background-size: cover;
}
.play li:nth-child(2){
    width:5.05rem;
    height:100%;
    padding:0 0.2rem;
    box-sizing: border-box;
}
.play li:nth-child(2) div{
    overflow: hidden;
    width: 100%;
    height:50%;
    position: relative;
}
.top{
    padding-top: 0.12rem;
    box-sizing: border-box;
}
a.playicon{
    float:left;
}
a.playicon img{
    width:0.36rem;
}
a.commenticon,a.microphoneicon{
    float:right;
    width:0.55rem;
    height:0.55rem;
    margin-left: 0.1rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 6px #f1f1f1;
}
a.commenticon img ,a.microphoneicon img{
   width: 100%;
    height:auto;
}
.dotted_line{
    width:2.8rem;
    height:auto;
    position: absolute;
    left:0;
    bottom:0;
}
.bottom .img_search{
    width:100%;
    height:auto;
    position: absolute;
    bottom: 0.1rem;
    left:0;
}
.bottom .img_search img{
    width:100%;
    height:auto;
}
/*首页轮播*/
.d_index_carousel{
    width:100%;
    height:auto;
    background-color:#fff;
    background-image: url("../img/dzq/carousel_bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -0.02rem;
    position: relative;
    overflow: hidden;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}
.slide{
    width: 100%;
    min-height: 180px;
    overflow: hidden;
    position: relative;

}
.slide .img{
    overflow: hidden;
    position: absolute;
    transition: width 0.4s,height 0.4s,top 0.4s,left 0.4s,z-index 0.4s;
}
.slide .img img{
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 7px;
}
.slide .img1{
    width: 40%;
    height: 40%;
    top: 15%;
    left: -50%;
    z-index: 1;
}
.slide .img2{
    width: 60%;
    height: 2.75rem;
    top: 15%;
    left: -51%;
    z-index: 2;
}
.slide .img3{
    width: 5.9rem;
    height: 3.5rem;
    top: 10%;
    left: 10%;
    z-index: 3;
}
.slide .img4{
    width: 60%;
    height: 2.75rem;
    top: 15%;
    left: 90%;
    z-index: 2;
}
.slide .img5{
    width: 40%;
    height: 40%;
    top: 15%;
    left: 110%;
    z-index: 1;
}
.slide-bt{
    width:90px;
    position: absolute;
    left: 62%;
    top: 2%;
    z-index: 10;
}
.slide-bt span{
    width: 8px;
    height: 8px;
    background: #fff;
    float: left;
    margin: 5px;
    border-radius: 50%;
}
.slide .slide-bt .on{
    background: #f81f43;
}
button{
    width: 50px;
    margin: 20px;
}
/*介绍*/
.d_intro{
    display:block;
    width:4.95rem;
    height:1.26rem;
    position: absolute;
    left:50%;
    margin-left: -2.475rem;
    bottom: 0;
    z-index: 1000;
    border-radius: 0.1rem;
    background-image: url("../img/dzq/headerbg.png");
    background-size: 100% auto;
    overflow: hidden;
}
.d_intro_white{
    background:#fbfbfb;
    width:100%;
    height:1.18rem;
    padding: 0 0.13rem;
    box-sizing: border-box;
}
.d_intro_white .d_intro_first{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    overflow: hidden;
}
.d_intro_white .d_intro_first h4{
    color:#f81f34;
    font-size: 0.28rem;
    font-family: "Myriad Pro";
    float: left;
    margin-top: 0.10rem;
}
.d_intro_white .d_intro_first ul.d_intro_star{
    width: auto;
    height:auto;
    display: flex;
    float: right;
    margin-top: 0.06rem;
}
ul.d_intro_star li{
    width:0.16rem ;
    height:auto;
    margin: 0 0.04rem;;
}
ul.d_intro_star li img{
    width:100%;
    height:auto;
}
.d_intro_white p{
    font-size: 0.22rem;
    font-family: "苹方 常规";
    color:#a7a7a7;
    line-height: 0.22rem;
}
.d_intro_bottom{
    width:100%;
    height:auto;
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.d_intro_bottom_left{
    width:2.37rem;
    height:auto;
    overflow: hidden;
    display: flex;
}
.d_intro_bottom_left >img:nth-child(1){
    width: 0.42rem;
    height:0.42rem;
    margin-right: 0.05rem;
    margin-top: 0.05rem;
}
.d_intro_bottom_left .d_box{
    width:auto;
    height:auto;
    overflow: hidden;
    margin-top: -0.1rem;
}
.d_intro_bottom_left .d_box >img{
    width:1.95rem;
    height:auto;
}
.d_intro_bottom_left .d_box> h4{
    width:auto;
    height:auto;
    font-size: 0.22rem;
    color:#52575c;
    font-family: "Myriad Pro";
}
.d_intro_bottom_right{
    width:auto;
    height:auto;
    display:flex;
    overflow: hidden;
}
.d_intro_bottom_right div.fabulous{
    display:flex;
    margin:0.16rem 0.1rem 0;
}
.d_intro_bottom_right div.fabulous div.d_fabulous{
    width:0.25rem;
    height:0.25rem;
    border-radius: 50%;
    box-shadow: 0 0 6px #f1f1f1;
}
.d_intro_bottom_right div.fabulous div.d_fabulous img{
    width:100%;
    height:auto;
}
.d_intro_bottom_right div.fabulous span{
    color:#c2c2c2;
    font-size: 0.18rem;
    font-family: "苹方 常规";
    margin: 0 0.05rem;
}

/*功能模块  本地 历史 下载 电台 排行*/
section.d_function{
    width:100%;
    height:auto;
    margin-top: 0.2rem;
    padding:0 0.6rem;
    overflow: hidden;
}
section.d_function .d_Modular{
    width: 100%;
    height:auto;
    display:flex;
    justify-content: space-between;
}
.d_Modular li{
    width:0.95rem;
    height:auto;
    text-align: center;
}
.d_Modular li > a{
    width:auto;
    height:auto;
    display:block;
}
.d_Modular li img{
    display:block;
    width:100%;
    height:auto;
}
.d_Modular li p{
    color:#7e7e7e;
    font-size: 0.24rem;
    font-family: "苹方 常规";
}
/*新歌速递 热门推荐 最新资讯*/
section.d_position{
    width: 100%;
    height:auto;
    margin-top: 0.5rem;
    overflow: hidden;
}
.d_position .d_position_modular{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0.3rem;
    box-sizing: border-box;
    overflow: hidden;
}
.d_position_modular li{
    width:2.2rem;
    height:1.4rem;
    border-radius: 0.15rem;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 30px #f1f1f1;
    position: relative;
}
.d_position_modular li > a{
    display:block;
    width:100%;
    height:100%;
}
.d_position_modular li:nth-child(1){
    background-image: url("../img/dzq/new_song.png");
}
.d_position_modular li:nth-child(2){
    background-image: url("../img/dzq/hot.png");
}
.d_position_modular li:nth-child(3){
    background-image: url("../img/dzq/Latest_info.png");
}
.d_position_modular li div.d_pos{
    position: absolute;
    bottom:0.15rem;
    font-size: 0.22rem;
    font-family: "Myriad Pro";
    color:#fef3f9;
}
.d_position_modular li div.d_position_left{
    left:0.15rem;
}
.d_position_modular li div.d_position_right{
    right:0.25rem;
    display:flex;
}
.d_img{
    width:0.2rem;
    height:0.2rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 6px #f1f1f1;
    margin-right: 0.05rem;
    margin-top: 0.08rem;
}
.d_img img{
    display:block;
    width:100%;
    height:100%;
}
.d_position_modular li div.d_position_right span{
    margin-top: 0.02rem;
}
/*电子音乐*/
section.d_elecMusic{
    width:100%;
    height:auto;
    text-align: center;
    margin-top: 0.5rem;
    background-image: url("../img/dzq/five.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}
section.d_elecMusic img.d_elecMusic_title{
    width:3.7rem;
}
.d_elecMusic .d_elecMusic_carousel{
    width:100%;
    height:auto;
    overflow: hidden;
}
.swiper-container {
    width: 100%;
    height: auto;
    margin: 0.3rem auto;
    overflow: hidden;
    overflow: hidden;
}
.swiper-slide {
    width:auto;
    height:auto;
    position: relative;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.scarousel_bg{
    width:100%;
    height:auto;
}
.d_song_img{
    width:1.5rem;
    height:1.5rem;
    position: absolute;
    left:0.15rem;
    top:15%;
    border-radius: 0.15rem;
    box-shadow: 0 0 0.06rem #f1f1f1;
    background-image: url("../img/dzq/small_img.png");
    background-size: 100% 100%;
}
.d_elecMusic_con{
    width:100%;
    height:42%;
    margin: auto;
    position: absolute;
    left:0;
    bottom: 0;
    padding-left: 0.15rem;
    box-sizing: border-box;
    text-align: left;
}
.d_elecMusic_con a{
    display:block;
    width:auto;
    height:auto;
}
.d_elecMusic_con p{
    color:#626060;
    font-size:0.24rem;
    font-family: "San Francisco Display";
}
.d_elecMusic_con h4{
    color:#a6a5a5;
    font-size: 0.18rem;
    font-family: "苹方 中等";
}
.d_elecMusic_con .d_elecMusic_record{
    margin-top: 0.1rem;
    padding-top: 0.02rem;
    box-sizing: border-box;
}
.d_elecMusic_con .d_elecMusic_record > img{
    width:0.24rem;
    height:auto;
    margin-top: 0.02rem;
    float:left;
}
.d_elecMusic_con .d_elecMusic_record > span{
    color:#c3c3c3;
    font-family: "Myriad Pro";
    font-size: 0.18rem;
    float:left;
    margin-left: 0.07rem;
}
.d_elecMusic_bottom{
    width:100%;
    height:auto;
    overflow: hidden;
    line-height: 0.5rem;
    margin-top: 0.4rem;
}
.d_elecMusic_bottom .d_head{
    width:0.45rem;
    height:0.45rem;
    border-radius: 50%;
    border:0.02rem solid #fff;
    overflow: hidden;
    float:left;
}
.d_elecMusic_bottom .d_head img{
    width:100%;
    height:100%;
}
.d_elecMusic_bottom h4{
    color:#b9b9b9;
    font-size: 0.18rem;
    font-family: "Myriad Pro";
    float: left;
    margin-left: 0.1rem;
}
.d_elecMusic_bottom .d_fabulous{
    width:0.29rem;
    height:0.24rem;
    float:right;
    margin-right: 0.3rem;
}
.d_elecMusic_bottom .d_fabulous > img{
    width:100%;
    height:auto;
}
.d_seat{
    width:100%;
    height:1.7rem;
}
/*猜你喜欢*/
section.d_guess_like{
    margin-top:0.5rem;
    width:100%;
    height:auto;
    overflow: hidden;
}
section.d_guess_like .d_like_title{
    width:3.7rem;
}
div.d_like{
    width:100%;
    height:auto;
    overflow: hidden;
    text-align: center;
}
ul.d_like_listcon{
    width:100%;
    height:auto;
    overflow: hidden;
    margin-top: 0.1rem;
    overflow: hidden;
}
.d_like_listcon > li{
    width:7.15rem;
    height:1.85rem;
    margin:0.15rem auto;
    box-shadow: 0 0 0.1rem #ccc;
}
.d_like_listcon > li > a{
    width:100%;
    height:100%;
}
.d_like_listcon > li .d_decorate{
    width:auto;
    height:100%;
    overflow: hidden;
    float:left;
}
.d_like_listcon > li .d_decorate .d_rect{
    width:0.08rem ;
    height:1rem;
    background:#fa2e84;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
}
.d_like_listcon > li .d_decorate .d_circle{
    width:0.08rem;
    height:0.08rem;
    background:#fa2e84 ;
    border-radius: 50%;
    margin-top: 0.1rem;
}
.d_like_left{
    width:1.4rem;
    height:100%;
    float:left;
    margin-left: 0.1rem;
    text-align: center;
}
.d_like_left .d_like_img{
    width:1.12rem;
    height:1.12rem;
    margin:0.05rem auto 0;
    border-radius: 50%;
    background-image: url("../img/dzq/like_bg.png");
    background-size: 100%;
    position:relative ;
    background-repeat: no-repeat;
}
.d_like_img .d_replace{
    width:60%;
    height:60%;
    border:0.02rem solid #bbbdc1;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: url("../img/dzq/like_img.png");
    background-position: center;
    position: absolute;
    margin: auto;
    left:0;right:0;
    top:0;bottom:0;
    background-repeat: no-repeat;
}
.d_like_img img{
    position: absolute;
    left: 0;right:0;
    top:0;bottom:0;
    margin:auto;
}
.d_like_left > h4{
    color:#b9b9b9;
    font-family: "苹方 中等";
    font-size: 0.24rem;
}
.d_like_left > h5{
    font-size: 0.18rem;
    color:#b9b9b9;
}
.d_like_right{
    width:5.15rem;
    height:100%;
    float:left;
    margin-top: 0.15rem;
}
.d_like_top{
    width:100%;
    height:auto;
    overflow: hidden;
}
.d_like_top h4{
    color:#626060;
    font-size: 0.22rem;
    font-family: "苹方 中等";
    margin-top: 0.15rem;
}
.d_like_top > span{
    color:#b9b9b9;
    font-size: 0.18rem;
    font-family: "苹方 中等";
    margin-top: 0.05rem;
    margin-bottom: 0.1rem;
}
.d_like_top > img{
    width:20%;
    display:block;
    margin-left: 0.1rem;
}
.d_like_center{
    width:100%;
    height:auto;
    overflow: hidden;
    margin-top: 0.1rem;
}
.d_like_play,.d_like_issue{
    width:auto;
    height:auto;
    float:left;
    display: flex;
}
.d_like_play{
    margin-right: 0.35rem;
}
.d_like_play>div,.d_like_issue > div{
    width:0.14rem;
    height:0.14rem;
    border-radius: 50%;
    margin-top: 0.05rem;
    margin-right: 0.1rem;
}
.d_like_play>div.d_circle_red{
    background:#fff;
    /*box-shadow: 0 0 0.06rem #e22a77;*/
}
.d_like_issue > div.d_circle_green{
    background:#fff;
    /*box-shadow: 0 0 0.06rem #c1e22a;*/
}
.d_like_play > span,.d_like_issue >span{
    color:#fff;
    font-size:0.18rem;
    font-family: "苹方 中等";
}
/*点赞人头像*/
.d_like_bottom{
    width:100%;
    height:auto;
    overflow: hidden;
    line-height: 0.5rem;
}
.d_like_photo{
    width:1.7rem;
    height:0.46rem;
    overflow: hidden;
    display:flex;
    float: left;
}
.d_like_photo li{
    width:0.46rem;
    height:0.46rem;
    border-radius: 50%;
    background-size: 100%;
}
.d_like_photo li:nth-child(1)~li{
    margin-left: -0.15rem
}
.d_like_bottom p{
    color:#c3c3c3;
    font-size: 0.18rem;
    font-family: "Myriad Pro";
    float:left;
}
.d_current{
    width:auto;
    height:auto;
    float: right;
    overflow: hidden;
    display: flex;
}
.d_current  div.d_current_headerset{
    width:0.32rem;
    height:0.32rem;
    border-radius: 50%;
    box-shadow: 0 0 0.06rem #f1f1f1;
    margin-top: 0.05rem;
}
.d_current  div.d_current_headerset img{
    width:100%;
    height:100%;
}
.d_current  > p{
    color:#c3c3c3;
    font-size:0.18rem;
    font-family: "苹方 常规";
}
/*底部介绍*/
footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: #f81f34;
    padding: 0;
}
footer div.iconbtn{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-around;
}
footer div.iconbtn > a{
    display:block;
    width:0.66rem;
    height:0.66rem;
    border-radius: 50%;
    margin-top: 0.22rem;
}
footer div.iconbtn > a:nth-child(3){
    margin: 0;
}
footer div.iconbtn > a img{
    width:100%;
}
footer img.d_line1{
    width:auto;
    height:0.4rem;
    position: absolute;
    left:20%;
    top:50%;
    margin-top: -0.2rem;
}
footer img.d_line2{
    width:auto;
    height:0.4rem;
    position: absolute;
    right:20%;
    top:50%;
    margin-top: -0.2rem;
}
