*{
    box-sizing:border-box;
}
body{
    height:100%;
}
/*头部*/
#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width:100%;
    height:1.73rem;
}
#header  .top{
    overflow: hidden;
}
#header  .return{
    float:left;
    margin-left:0.24rem;
    margin-top:0.2rem;
    width:0.84rem;
}
#header .center{
    float: left;
    margin-left:2.39rem;
    margin-top:0.3rem;
    width:0.56rem;
    text-align: center;
}
#header .center h4{
    font-size:0.28rem;
    color:#fff;
}
#header .center  .circle{
    width:0.33rem;
    display:block;
    margin:auto;
}
#header .search{
    width:7rem;
    height:0.55rem;
    border:0.03rem solid #fe5767;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    padding:0 0.2rem ;
    margin:0 auto;
    border-radius:0.3rem;
    margin-top:0.12rem;
}
#header .search img{
    height:0.08rem;
}
#header .search input{
    width:5.8rem;
    height:100%;
    border:none;
    outline: none;
    background:none;
    margin-left:0.12rem;
    font-size:0.24rem;
    color:#fff;
}
input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}
#header .search .listen{
    height:0.3rem;
}
/*iscroll*/
#wrapper {
    position: absolute;
    z-index: 1;
    top: 1.73rem;
    bottom:0;
    left: 0;
    width: 100%;
    background: #f8f8f8;
    overflow: hidden;
}
#scroller {
    position:absolute;
    z-index: 1;
    width: 100%;
    background:#f8f8f8;
    padding-bottom:0.4rem;
}

.box{
    width:6.88rem;
    border-radius: 0.1rem 0.1rem 0 0;
    padding:0.18rem 0.2rem;
    margin:0 auto;
    margin-top:0.44rem;
    background:#fff;
}
.box  a{
    display:block;
    width:100%;
    margin-top:0.32rem;
    overflow: hidden;
}
.box  a .tou{
    width:1.04rem;
    height:1.03rem;
    float:left;
}
.box  a .tou .touimg{
    width:0.82rem;
    height:0.82rem;
    margin:0 auto;
    margin-top:0.11rem;
}
.box  a .letter{
    float:left;
    margin-left:0.12rem;
}
.box a .letter h4{
    font-size:0.22rem;
    color:#ff2c99;
}
.box a .letter h5{
    color:#7a7979;
    font-size:0.22rem;
    margin-top:0.02rem;
}
.box  a .letter .dotted{
    display:block;
    width:1.52rem;
    margin-top:0.06rem;
}
.box  a .letter .last{
    display:flex;
    align-items: center;
    margin-top:0.04rem;
}
.box  a .letter .last img{
    float:left;
    width:0.18rem;
}
.box  a .letter .last span{
    float:left;
    font-size:0.18rem;
    color:#c3c3c3;
    margin-left:0.1rem;
}
.box   .splite{
    display:block;
    width:6.52rem;
    margin-top:0.2rem;
}
