.first{
    display: none;
}
html{
    width:100%;
    overflow: hidden;
    height:100%;
}
.zml-total{
    position: fixed;
    bottom: 0;
    width:100%;
    height:100%;
}
.zml-zhanwei{
    width:100%;
    height:100%;
}
.zml-top{
    background-image: url("../img/zml-beijing.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*width:7.5rem;*/
    height:8.78rem;
    width:100%;

}
a{
    display: block;
    overflow: hidden;
}
.zml-reg{
    width:.86rem;
    height:.42rem;
    float: right;
    margin-right: .25rem;
    margin-top: .2rem;
}
.zml-denglu{
    margin-top: 5.5rem;
    width:100%;
    text-align: center;
}
.zml-icon{
    width:.51rem;
    height:.52rem;
}
.zml-tianxie{
    position: relative;
    width:6.27rem;
    height:1.92rem;
    margin: .2rem auto 0;
}
.zml-tianxie img:nth-child(1){
    position: absolute;
    width:6.27rem;
    left:0;
    top:0;
}
.zml-tianxie input:nth-child(2){
    width:100%;
    height:.85rem;
    position: absolute;
    bottom:.07rem;
    left:0rem;
    padding-left: .3rem;
    outline: none;
    box-sizing: border-box;
}
.zml-error{
    width:3.8rem;
    height: .68rem;
    background: #303840;
    border-radius: .34rem;
    position: absolute;
    left:.2rem;
    bottom: -.34rem;
    display: none;
}
.zml-rem{
    width:1rem;
    height:.5rem;
    background: #303840;
    border-radius: .25rem;
    margin-top: .05rem;
    margin-left: .55rem;
    float: left;
}
.zml-rem img:nth-child(1){
    display: block;
    width:.42rem;
    height:.4rem;
    padding-top: .05rem;
    padding-left: .05rem;
}
.zml-getpass{
    width:1.18rem;
    height:.22rem;
    float: right;
    margin-top: .25rem;
    margin-right: .55rem;
}
.zml-denglu div:nth-child(4){
    /*width:3.62rem;*/
    text-align: center;
    margin-top: .1rem;
}
.zml-login{
    width:3.12rem;
    height:.8rem;
    margin:.3rem auto 0;

}
label[for]{
    width:3.8rem;
    height: .68rem;
    background: #303840;
    border-radius: .34rem;
    position: absolute;
    left:.2rem;
    bottom: -.34rem;
    color:white;
    line-height: .68rem;

}
/*第三方登录*/
.zml-three{
    width:100%;
    height:auto;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    margin-top: .3rem;
}
.zml-three img:nth-child(1){
    width:6.16rem;
    height:.22rem;
    margin: 0 auto;
}
.zml-three div:nth-child(2){
    width:4.1rem;
    margin: .45rem auto 0;
    display: flex;
    justify-content: space-between;
}
.zml-three div:nth-child(2) a img{
    width:.77rem;
    height:.76rem;
}
.zml-three div:nth-child(2) a:nth-child(4) img{
    width:.81rem;
    height:.48rem;
    margin-top: .14rem;
}